
@{
   // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CZM</title>
</head>
<body>
    <div>
        <h2> Czas z ostatniego miesiaca : @ViewBag.H : @ViewBag.M : @ViewBag.S </h2>
    </div>
    <p>@Html.ActionLink("Back to Summary List", "Summary", "Home")</p>
</body>
</html>
