
@{
   // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CZM</title>
</head>
<body>
    <div> 
       <h2> Czas z ostatniego miesiaca : @ViewBag.czas[0] </h2>
    </div>
</body>
</html>
