
@{
   //    Layout = null;
    ViewBag.Title = "Statystki";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Staty</title>
</head>
<body>
    <div>
        <h2>Suma = @ViewBag.sum </h2>
        <h2>Średnia = @ViewBag.average </h2>
        <h2>Min = @ViewBag.min </h2>
        <h2>Max = @ViewBag.max </h2>
    </div>
</body>
</html>
